package home

import "cspage/pkg/mon/web/templates"

templ homeTempl() {
	<div hx-get="/world" hx-trigger="load" hx-indicator=".loading-div" class="fixed top-0 left-0 bottom-0 right-0 z-10 overflow-hidden">
		@templates.MapChartDiv("world-map", true)
	</div>
}
